# Stellar Network Configuration
HORIZON_URL=https://horizon-testnet.stellar.org
NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Your Stellar Account Credentials 
SOURCE_SECRET= #SCYHMQNU7xxxxxxx2SA3QQU2GA27JS6W47VL74JM45IDKDYVIELIRVQQ (Example)
MONITOR_ACCOUNT_ID= #GBBQHK5UU4xxxxxxxxW4H5ZKCUQRDG25AFJS2IKTAHSL7YPNW6QAU5HC (Example)
DESTINATION_ACCOUNT_ID=

# For mainnet, use:
# HORIZON_URL=https://horizon.stellar.org
# NETWORK_PASSPHRASE=Public Global Stellar Network ; September 2015
